html, body {
    margin: 0;
    padding: 0;      
}

.animated {
    background-color: black;
    color: white;
    background: url(https://i.pinimg.com/originals/d9/40/20/d940201d892dc4f18982bc3e22d17e41.jpg);
    width: 100%;
    margin: 0;
    height: 300px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}

.container
{
 padding-top: 100px;
 min-height: 90vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; 
}
  
.container h1 {
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 15px yellow;
}

.form-background{
    color: black;
}
@-webkit-keyframes slide {
    from {
        background-position: 0 0;    
    }
    to {
        background-position: 100% 0;    
    }
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -600px 0;
    }
}

input.ng-touched.ng-invalid {
    border: solid 2px red;
}

#no {
    color: black;
    background-color: rgb(251, 241, 204);
}
    
.fail {
    background-color: rgb(243, 216, 218);
}

#stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

#stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

#stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

#stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.modal-title{
    color: #0000EE;
}

.modal-body{
    color: black;
}
#modalClose, #reviewBtn, #orderBtn {
    background-color: rgb(255, 255, 255);
    color: black;
    
}

#bloc1, #bloc2{
    display:inline;
}

#reviewTime, #reviewRating {
    display:inline;
}
    
.glyphicon-star {
    color: rgb(244, 217, 151);
}

#startInput, #endInput, #modeInput, #direct {
    display:inline;
}

#details_list {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    position: relative;
    left: 0%;
}

#details_list.ng-hide {
    left: -200%;
}

#detailsFavor, #details{
    background-color: white !important;
}

#results {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    position: relative;
    right: 0%;
}

#results.ng-hide {
    right: -100%;
}

.highlight {
    color: black;
    background-color: rgb(244, 217, 151);
}

.favoring {
    color: rgb(244, 217, 151);
}

.black-text
{
    color: black;
}

.white.text
{
    color: white;
}

#mapFigure, #routePanel
{
    background-color: white;
}

#reviewSectionPanel {
    color: black;
}

.place-header{
    border-style: ridge;
    border-radius: 10%;
    margin: 30px;
    padding: 10px;
    color: black;
    font-weight: 500;
    background-color: white;
}

.socket
{
    width: 100%;
    border-top: 0.2rem solid #666b71;
}

header {
    margin-top: 10;
    text-align: center;
    position:absolute;
    top: 0;
    width: 100%;
}
footer {
    text-align: center;
 position: absolute;
 bottom: 0;
 width: 100%;
}
